body, .navbar {
	background-color: #2C354C !important;
}

.print, .show {
	font-size: 17px !important;
	color: #647294 !important;
}

.nav-link {
	color: #647294 !important;
}

.bar-icon {
	color: #647294 !important;
	font-size: 30px;
}


.navbar-toggler {
	border: none !important;
}

.navbar-toggler:focus {
	outline: none !important;
}

.navbar-toggler-icon {
	color: #647294 !important;
}

.show:hover {
	text-decoration: none !important;
}

.main {
	padding: 20px 30px;
}

.ticket {
	position:relative;
	border-top: 4px solid #EF851A;
}

.logo {
	width: 100px;
}

.middle {
	width: 100%;
	height: 4px;
	background-color: transparent;
}

.info {
	background-color: #f8f8f8;
	padding: 20px;
}

.for-info {
	border-bottom: 1px solid #E2E2E2;
	padding: 10px 0;
	display: flex;
}

.for-info1 {
	border-bottom: 1px solid #E2E2E2;
	padding: 10px 0;
}

.gray-heading {
	color: #988F95;
	font-size: 17px;
}

.val {
	color: #1F2020;
	font-weight: bold;
	font-size: 17px;
}

.seventy {
	width: 70%;
}

.thirty {
	width: 30%;
}

.fifty {
	width: 50%;
}

.name {
	color: #F08519;
	font-size: 45px;
	font-weight: bold;
}

.bottom-div {
	padding: 20px 0;
	display: flex;
}

.green-button {
	color: #36C067;
	border: 1px solid #36C067;
	font-weight: bold;
	padding: 5px 20px;
	background-color: transparent;
}

.green-button:focus {
	outline: none;
}

.bar {
	width: 90%;
}

.left-dot {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #2C354C;
	position: absolute;
	left: -17px;
	bottom: 120px;
}


.right-dot {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #2C354C;
	position: absolute;
	right: -17px;
	bottom: 120px;
}